/* *************** Custom Properties *************** */
:root {
  --first-color: #002830;
  --first-alpha-color: #0B4955;
  --first-alpha-color2: rgba(217, 0, 98, 0.25);
  --second-color: #7FC2D5;
  --second-alpha-color: #CEE9F1;
  --third-color: #EEAA46;
  --third-alpha-color: #EEAA46;
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-color-2: rgb(240, 240, 240);
  --gray-dark-color: #BEBEBE;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --gray-alpha-color: rgba(119, 119, 119, 0.15);
  --font:  sans-serif ;
  --max-width: 1200px;
  --header-height: 4rem;
  --footer-height: 2rem;
  --services-card-separation: 0.5vw;
}

::selection {
  background-color: var(--link-color);
  color: white;
  border-radius: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* *************** Reset *************** */

html {
  box-sizing: border-box;
  /* font-family: var(--font) !important; */
  /* font-family:  Helvetica, sans-serif !important; */
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color:transparent;
  /* overflow-y:hidden !important; */
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y:hidden ;
  color: var(--text-color);
}

a {
  color: var(--first-color);
  transition: all 0.5s ease-out;
  font-weight: bold;
}
a:hover {
  opacity: 0.75;
}
h1 {
  margin: 0;
  font-size: 2.9rem;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
  /* font-size: 34px; */
  color: var(--first-color);
}

h3 {
  margin: 0;
  /* font-size: 1.5rem; */
  font-size: 34px;
}

h4 {
  margin: 0;
  font-size: 1.25rem;
}

h5 {
  margin: 0;
  /* padding-bottom: 10px; */
  font-size: 1rem;
}

h6 {
  margin: 0;
  font-size: 0.85rem;
}

img, video {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
  font-size: 1.3rem;
  color: var(--first-color);
}

/* *************** Components *************** */

@media (min-width:480px){
  .fsp-picker {
    width: 50%;
    height: 87%;
    margin: auto;
  }
}